@model _24DH113309_MyStore.Models.Customer
@{
    ViewBag.Title = "Thêm mới Khách hàng";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="text-success">@ViewBag.Title</h2>

@using (Html.BeginForm("Create", "Customers", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })

        <h4>1. Thông tin tài khoản</h4>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group mb-3">
                    @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                    @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group mb-3">
                    <label class="control-label">Vai trò</label>
                    <select name="Role" class="form-control">
                        <option value="Customer">Customer</option>
                        <option value="Staff">Staff</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group mb-3">
                    <label class="control-label">Mật khẩu</label>
                    <input type="password" name="Password" class="form-control" required />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group mb-3">
                    <label class="control-label">Xác nhận mật khẩu</label>
                    <input type="password" name="ConfirmPassword" class="form-control" required />
                </div>
            </div>
        </div>

        <hr />
        <h4>2. Thông tin cá nhân</h4>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group mb-3">
                    @Html.LabelFor(model => model.CustomerName, "Họ và tên", htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.CustomerName, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                    @Html.ValidationMessageFor(model => model.CustomerName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group mb-3">
                    @Html.LabelFor(model => model.CustomerEmail, "Email", htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.CustomerEmail, new { htmlAttributes = new { @class = "form-control", @type = "email", @required = "required" } })
                    @Html.ValidationMessageFor(model => model.CustomerEmail, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group mb-3">
                    @Html.LabelFor(model => model.CustomerPhone, "Số điện thoại", htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.CustomerPhone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CustomerPhone, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group mb-3">
                    @Html.LabelFor(model => model.CustomerAddress, "Địa chỉ", htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.CustomerAddress, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CustomerAddress, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group mb-3">
                    <label class="control-label">Ảnh đại diện</label>
                    <input type="file" name="uploadImage" class="form-control" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group mb-3">
                    @Html.LabelFor(model => model.IsActive, "Trạng thái", htmlAttributes: new { @class = "control-label" })
                    <div>
                        @Html.EditorFor(model => model.IsActive) Kích hoạt
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group mt-4">
            <input type="submit" value="Tạo mới" class="btn btn-success me-2" />
            @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-secondary" })
        </div>
    </div>
}