@model _24DH113309_MyStore.Models.Customer
@{
    ViewBag.Title = "Chỉnh sửa Khách hàng";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>@ViewBag.Title: @Model.CustomerName</h2>

@using (Html.BeginForm("Edit", "Customers", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.CustomerID)

        <h4>1. Thông tin tài khoản</h4>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group mb-3">
                    @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group mb-3">
                    <label class="control-label">Vai trò</label>
                    @Html.DropDownList("UserRole", (SelectList)ViewBag.UserRole, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group mb-3">
                    <label class="control-label">Mật khẩu mới</label>
                    <input type="password" name="NewPassword" class="form-control" placeholder="Để trống nếu không đổi mật khẩu" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group mb-3">
                    <label class="control-label">Xác nhận mật khẩu mới</label>
                    <input type="password" name="ConfirmPassword" class="form-control" />
                </div>
            </div>
        </div>

        <hr />
        <h4>2. Thông tin cá nhân</h4>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group mb-3">
                    @Html.LabelFor(model => model.CustomerName, "Họ và tên", htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.CustomerName, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                    @Html.ValidationMessageFor(model => model.CustomerName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group mb-3">
                    @Html.LabelFor(model => model.CustomerEmail, "Email", htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.CustomerEmail, new { htmlAttributes = new { @class = "form-control", @type = "email", @required = "required" } })
                    @Html.ValidationMessageFor(model => model.CustomerEmail, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group mb-3">
                    @Html.LabelFor(model => model.CustomerPhone, "Số điện thoại", htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.CustomerPhone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CustomerPhone, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group mb-3">
                    @Html.LabelFor(model => model.CustomerAddress, "Địa chỉ", htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.CustomerAddress, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CustomerAddress, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group mb-3">
                    <label class="control-label">Ảnh đại diện (để trống nếu không đổi)</label>
                    <input type="file" name="uploadImage" class="form-control" />
                    <img src="~/Content/Images/Customers/@Model.CustomerImage" width="100" class="mt-2" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group mb-3">
                    @Html.LabelFor(model => model.IsActive, "Trạng thái", htmlAttributes: new { @class = "control-label" })
                    <div>
                        @Html.EditorFor(model => model.IsActive) Kích hoạt
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group mt-4">
            <input type="submit" value="Lưu thay đổi" class="btn btn-primary me-2" />
            @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-secondary" })
        </div>
    </div>
}